<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Furniture</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>

<body>

{% include 'header.html' %}

<section id="center" class="center_blog_dt">
 <div class="promo_m center_om">
  <div class="container-fluid">
    <div class="center_o1 row text-center">
	 <div class="col-md-12">
	   <h6 class="col_yell fw-bold"><a class="text-white" href="#">HOME PAGE</a> <span class="mx-2 text-muted">/</span> BLOG DETAIL</h6>
	   <h1 class="mb-0 font_60 text-white mt-3">Blog Detail</h1>
	 </div>
	</div>
 </div>
 </div>
</section>

<section id="blog_pg" class="p_3  px-4">
 <div class="container-fluid">
   <div class="blog_pg1 row">
    <div class="col-md-8">
	  <div class="blog_pgdt">
	   <div class="blog_pgdt1">
	    <div class="grid clearfix">
		  <figure class="effect-jazz mb-0">
			<a href="blog_detail.html"><img src="img/27.jpg" class="w-100" alt="abc"></a>
		  </figure>
	  </div>
	    <h1 class="mt-3">The Pros and Cons of Large Format Porcelain</h1>
		<h6 class="font_14 mt-3 text-muted"><i class="fa fa-user col_yell me-1"></i> By Admin
 <i class="fa fa-comments col_yell me-1 ms-2"></i> 3 Comments  <i class="fa fa-calendar col_yell me-1 ms-2"></i> 22 June 2022 </h6>
 <p class="mt-3">Where the art comes into the equation is when creating the design elements of your kitchen. Whether it’s transitional, traditional, French Country, industrial, or contemporary, every kitchen design style has specific features that work together to define the style.</p>
    <p class="col_yell">“ If you’re planning a kitchen remodeling project and live in the West Central Alabama area, give the design experts at Toulmin Cabinetry & Design a We’re happy to answer any questions you may have. Let us help you design the perfect new kitchen to meet your aesthetic and functional needs. ”</p>
	<p>The transitional kitchen design style has been one of the most popular, if not THE most popular, design choice of homeowners and designers for several years. It’s pretty easy to see why! The perfect blend of traditional and contemporary design elements, transitional kitchens are as versatile as they are stylish. So what exactly is a transitional kitchen, and why is it so popular? Because they offer a balance between traditional and contemporary elements, the transitional style can blend into an older home’s architecture while providing functionality for the modern lifestyle.</p>
	<h3>The Rustic Beauty of French Country Design</h3>
	<p class="mt-3">One design style living up to its name, more than almost any other, is French Country! Whether you’re in upstate New York, or Hollywood, California, when you walk into a classically designed French Country kitchen, you’re immediately transported deep into the heart of Provence. This style, when done well, feels effortless. However, the fact is, French Country design follows a specific formula to achieve its “imperfectly perfect” aesthetic.</p>
	<div class="blog_pgdt1i">
		    <img src="img/19.jpg" alt="abc" class="float-start me-3">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ulla mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida tat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		  </div>
		  <div class="blog_pgdt1i1 row">
		 <div class="col-md-6">
		  <div class="blog_pgdt1i1l">
		   <h6>PREV POST</h6>
		   <h5 class="mt-3 mb-0"><a href="#">Tips Minimalist</a></h5>
		  </div>
		 </div>
		 <div class="col-md-6">
		  <div class="blog_pgdt1i1r text-end">
		   <h6>PREV POST</h6>
		   <h5 class="mt-3 mb-0"><a href="#">Less Is More</a></h5>
		  </div>
		 </div>
		</div>
		  <h3 class="mt-4 center_sm">Related Tags</h3>
		  <div class="blog_pg1r1 mt-3">
		 <ul class="mb-0">
				 <li class="d-inline-block"><a href="blog_detail.html">Architechture</a></li>
				 <li class="d-inline-block"><a href="blog_detail.html">Construction</a></li>
				 <li class="d-inline-block"><a href="blog_detail.html">Design</a></li>
		</ul>
	    </div>
		<h3 class="mt-4 center_sm">Related Blogs</h3>
		<div class="row blog_1 mt-3">
		<div class="col-md-6">
		<div class="blog_1m">
		<div class="grid clearfix">
			  <figure class="effect-jazz mb-0">
				<a href="#"><img src="img/19.jpg" class="w-100" alt="abc"></a>
			  </figure>
		  </div>
		   <h6 class="font_14 text-muted mt-3"><i class="fa fa-user col_yell me-1"></i> By Admin
		<i class="fa fa-comments col_yell me-1 ms-2"></i> 3 Comments  </h6>
		<h4 class="mt-3"><a href="#">Cras accumsan nulla nec lacus ultricies placerat.</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		<h6 class="mb-0 fw-bold font_14"><a class="col_yell" href="#">READ MORE <i class="fa fa-long-arrow-right ms-1"></i></a></h6>		   
		</div>
		</div>
		<div class="col-md-6">
		<div class="blog_1m">
		<div class="grid clearfix">
			  <figure class="effect-jazz mb-0">
				<a href="#"><img src="img/20.jpg" class="w-100" alt="abc"></a>
			  </figure>
		  </div>
		   <h6 class="font_14 text-muted mt-3"><i class="fa fa-user col_yell me-1"></i> By Admin
		<i class="fa fa-comments col_yell me-1 ms-2"></i> 3 Comments  </h6>
		<h4 class="mt-3"><a href="#">The Pros and Cons of Large Format Porcelain</a></h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		<h6 class="mb-0 fw-bold font_14"><a class="col_yell" href="#">READ MORE <i class="fa fa-long-arrow-right ms-1"></i></a></h6>		   
		</div>
		</div>
   </div>
	  </div>
	   <div class="blog_pgdt2 mt-4">
	    <h3 class="mb-3 center_sm">Recent Comments</h3>
		<div class="blog_pgdt2i row">
		 <div class="col-md-2 col-2">
		  <div class="blog_pgdt2il">
		   <img src="img/15.jpg" class="w-100 rounded-circle" alt="abc">
		  </div>
		 </div>
		 <div class="col-md-10 col-10">
		  <div class="blog_pgdt2ir">
		   <h6 class="fw-bold">Lorem Porta</h6>
		   <h6 class="space_3 col_oran font_14">19TH March 2021</h6>
		   <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
		   <h6 class="mb-0"><a class="col_yell" href="#"><i class="fa fa-reply me-1"></i> Reply</a></h6>
		  </div>
		 </div>
		</div><hr>
		<div class="blog_pgdt2i row">
		 <div class="col-md-2 col-2">
		  <div class="blog_pgdt2il">
		   <img src="img/17.jpg" class="w-100 rounded-circle" alt="abc">
		  </div>
		 </div>
		 <div class="col-md-10 col-10">
		  <div class="blog_pgdt2ir">
		   <h6 class="fw-bold">Sem Augue</h6>
		   <h6 class="space_3 col_oran font_14">14TH March 2021</h6>
		   <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
		   <h6 class="mb-0"><a class="col_yell" href="#"><i class="fa fa-reply me-1"></i> Reply</a></h6>
		  </div>
		 </div>
		</div><hr>
		<div class="blog_pgdt2i row">
		 <div class="col-md-2 col-2">
		  <div class="blog_pgdt2il">
		   <img src="img/18.jpg" class="w-100 rounded-circle" alt="abc">
		  </div>
		 </div>
		 <div class="col-md-10 col-10">
		  <div class="blog_pgdt2ir">
		   <h6 class="fw-bold">Nulla Quis</h6>
		   <h6 class="space_3 col_oran font_14">17TH March 2021</h6>
		   <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
		   <h6 class="mb-0"><a class="col_yell" href="#"><i class="fa fa-reply me-1"></i> Reply</a></h6>
		  </div>
		 </div>
		</div>
	   </div>
	   <div class="blog_pgdt3 mt-4">
	    <h3 class="center_sm">Leave a Reply</h3>
		<p class="mt-3">Your email address will not be published. Required fields are marked <span class="col_red">*</span></p>
		<div class="blog_pgdt3i row">
		  <div class="col-md-6">
		   <div class="blog_pgdt3il">
		    <input placeholder="Name" class="form-control" type="text">
		   </div>
		  </div>
		  <div class="col-md-6">
		   <div class="blog_pgdt3il">
		    <input placeholder="Email" class="form-control" type="text">
		   </div>
		  </div>
		 </div>
		 <div class="blog_1d2i row mt-3">
		  <div class="col-md-12">
		   <textarea placeholder="Enter your comment here..." class="form-control form_text"></textarea>
		   <div class="form-check mt-3">
<input class="form-check-input" type="checkbox" value="">
<label class="form-check-label" for="flexCheckDefault">
Save my name, email, and website in this browser for the next time I comment.
</label>
</div>
		   <h6 class="mb-0 mt-4 center_sm"><a class="button" href="#">POST COMMENT <i class="fa fa-long-arrow-right ms-1"></i></a></h6>
		  </div>
		 </div>
	   </div>
	  </div>
	</div>
	<div class="col-md-4">
	 <div class="blog_pg1r">
	    <div class="blog_pg1r1">
	     <h5>Search Blog</h5>
		 <hr class="line mb-4">
		 <div class="input-group border_1 p-2 rounded-3">
				<input type="text" class="form-control border-0" placeholder="Search Here">
				<span class="input-group-btn">
					<button class="btn btn-primary bg-transparent rounded-0  border-0 col_yell" type="button">
						<i class="fa fa-search"></i> </button>
				</span>
		</div>
	    </div>
		<div class="blog_pg1r1 mt-4">
	     <h5>Categories</h5>
		 <hr class="line mb-4">
		 <h6 class="mb-0"><a href="blog_detail.html">Accessories <span class="pull-right">(6)</span></a></h6><hr>
		<h6 class="mb-0"><a href="blog_detail.html">Clothing <span class="pull-right">(4)</span></a></h6><hr>
		<h6 class="mb-0"><a href="blog_detail.html">Hoodies <span class="pull-right">(5)</span></a></h6><hr>
		<h6 class="mb-0"><a href="blog_detail.html">Music <span class="pull-right">(8)</span></a></h6><hr>
		<h6 class="mb-0"><a href="blog_detail.html">Uncategorized <span class="pull-right">(7)</span></a></h6>
	    </div>
		<div class="blog_pg1r1 mt-4">
	     <h5>Recent Posts</h5>
		 <hr class="line mb-4">
		<div class="row blog_pg1r1i">
		     <div class="col-md-4 col-4 pe-0">
			  <div class="blog_pg1r1il">
			    <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/19.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-8 col-8">
			  <div class="blog_pg1r1ir">
			   <h6 class="fw-bold"><a href="#">A Stunning Classic Shaker Kitchen In Halesowen</a></h6>
			   <h6 class="text-muted mb-0">June 7, 2021</h6>
			  </div>
			 </div>
	    </div><hr>
		<div class="row blog_pg1r1i">
		     <div class="col-md-4 col-4 pe-0">
			  <div class="blog_pg1r1il">
			    <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/20.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-8 col-8">
			  <div class="blog_pg1r1ir">
			   <h6 class="fw-bold"><a href="#">How To Choose A Paint Color For Your Walls When Remodeling</a></h6>
			   <h6 class="text-muted mb-0">June 9, 2021</h6>
			  </div>
			 </div>
	    </div><hr>
		<div class="row blog_pg1r1i">
		     <div class="col-md-4 col-4 pe-0">
			  <div class="blog_pg1r1il">
			    <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/23.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-8 col-8">
			  <div class="blog_pg1r1ir">
			   <h6 class="fw-bold"><a href="#">The Pros and Cons of Large Format Porcelain</a></h6>
			   <h6 class="text-muted mb-0">June 8, 2021</h6>
			  </div>
			 </div>
	    </div>
	    </div>
		<div class="blog_pg1r1 mt-4 bg_dark text-center p-4">
	     <h4><a class="text-white text-uppercase" href="index.html"><i class="fa fa-home col_yell"></i> Furniture</a></h4>
		 <h4 class="mt-4 text-white">Contact Us Daily</h4>
		 <h2 class="text-white">+(123) 456-7890</h2>
		 <h6 class="mb-0 mt-4"><a class="button" href="#">GET STARTED <i class="fa fa-long-arrow-right ms-1"></i></a></h6>
		 
	    </div>
		<div class="blog_pg1r1 mt-4">
	     <h5>Gallery</h5>
		 <hr class="line mb-4">
		 <div class="blog_pg1r1i row px-2">
		  <div class="col-md-4 px-1 col-4">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/19.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-4 px-1 col-4">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/20.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-4 px-1 col-4">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/21.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		 </div>
		 <div class="blog_pg1r1i row px-2 mt-2">
		  <div class="col-md-4 px-1 col-4">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/23.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-4 px-1 col-4">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/24.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-4 px-1 col-4">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/25.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		 </div>
	    </div>
		<div class="blog_pg1r1 mt-4">
	     <h5>Tags</h5>
		 <hr class="line mb-4">
		 <ul class="mb-0">
				 <li class="d-inline-block"><a href="blog_detail.html">Architechture</a></li>
				 <li class="d-inline-block"><a href="blog_detail.html">Construction</a></li>
				 <li class="d-inline-block"><a href="blog_detail.html">Design</a></li>
				 <li class="d-inline-block"><a href="blog_detail.html">Decoration</a></li>
				 <li class="d-inline-block"><a href="blog_detail.html">Furniture</a></li>
				 <li class="d-inline-block"><a href="blog_detail.html">Interior</a></li>
				 <li class="d-inline-block"><a href="blog_detail.html">Mattresses</a></li>
		</ul>
	    </div>
	 </div>
	</div>
   </div>
 </div>
</section>


<section id="chat">
 <div class="promo_m pt-5 pb-5 px-4">
  <div class="container-fluid">
    <div class="project_1 row text-center">
	 <div class="col-md-12">
	  <h6 class="col_yell fw-bold">YOU DREAM IT, WE DESIGN IT</h6>
	  <h1 class="text-white mt-3">We can build you the kitchen <br> of your dreams</h1>
	  <h6 class="mb-0 mt-4"><a class="button" href="#">SCHEDULE A CHAT <i class="fa fa-calendar ms-1"></i></a></h6>
	 </div>
	</div>
 </div>
 </div>
</section>

{% include 'footer.html' %}


<script>
	window.onscroll = function() {myFunction()};
	let navbar_sticky = document.getElementById("navbar_sticky");
	let sticky = navbar_sticky.offsetTop;
	let navbar_height = document.querySelector('.navbar').offsetHeight;
	function myFunction() {
	  if (window.pageYOffset >= sticky + navbar_height) {
		navbar_sticky.classList.add("sticky")
		document.body.style.paddingTop = navbar_height + 'px';
	  } else {
		navbar_sticky.classList.remove("sticky");
		document.body.style.paddingTop = '0'
	  }
	}
</script>

</body>

</html>