<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Future Home | Blog</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<style>
		.center_blog {
    		background-image: url(../static/img/48a.jpg);
		}
		.callout {
            position: fixed;
			bottom: 10px;
			left: 76%;
			transform: translateX(-50%);
			z-index: 1000;
			width: 70%;
			max-width: 600px;
			background-color: #c68a31;
			border-left: 6px solid #4CAF50;
			margin-bottom: 15px;
			padding: 15px;
			border-radius: 5px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }
		.callout p{
			color: #fff;
		}
        .callout .closebtn {
            margin-left: 15px;
            color: #f9fafb;
            font-weight: bold;
            float: right;
            font-size: 20px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }
        .callout .closebtn:hover {
            color: #f9fafb;
        }

	</style>

</head>

<body>

{% include 'header.html' %}

<section id="center" class="center_blog">
	<div class="promo_m center_om">
		<div class="container-fluid">
			<div class="center_o1 row text-center">
				<div class="col-md-12">
					<h6 class="col_yell fw-bold"><a class="text-white" href="{% url 'home' %}">HOME PAGE</a> <span class="mx-2 text-muted">/</span> BLOG</h6>
					<h1 class="mb-0 font_60 text-white mt-3">Blog</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="blog_pg" class="p_3  px-4">
	<div class="container-fluid">
		<div class="blog_pg1 row">
			<div class="col-md-12">
				<div class="blog_pg1l">
					{% for i in blog %}
					{% for j in author %}
					{% if i.user_id == j.id %}
					<div class="blog_pg1li row">
						<div class="col-md-6">
							<div class="blog_pg1lil">
								<div class="grid clearfix">
									<figure class="effect-jazz mb-0">
										<a href="{% url 'Blog_Detail' i.id %}"><img src="{{ i.image.url }}" class="w-100" alt="abc"></a>
									</figure>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="blog_pg1lir">
								<h6 class="font_14 text-muted"><i class="fa fa-user col_yell me-1"></i>{{ j.name }}</h6>
								<h4 class="mt-3"><a href="{% url 'Blog_Detail' i.id %}">{{ i.title }}</a></h4>
								<p>{{ i.description }}</p>
								<h6 class="mb-0 mt-4"><a class="button_1" href="{% url 'Blog_Detail' i.id %}">READ MORE <i class="fa fa-long-arrow-right ms-1"></i></a></h6>
							</div>
						</div>
					</div><hr>
					{% endif %}
					{% endfor %}
					{% endfor %}

<!--					<div class="blog_pg1li row">-->
<!--						<div class="col-md-6">-->
<!--							<div class="blog_pg1lil">-->
<!--								<div class="grid clearfix">-->
<!--									<figure class="effect-jazz mb-0">-->
<!--										<a href="blog_detail.html"><img src="img/20.jpg" class="w-100" alt="abc"></a>-->
<!--									</figure>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-md-6">-->
<!--							<div class="blog_pg1lir">-->
<!--								<h6 class="font_14 text-muted"><i class="fa fa-user col_yell me-1"></i> By Admin</h6>-->
<!--								<h4 class="mt-3"><a href="blog_detail.html">A Stunning Classic Shaker Kitchen In Halesowen</a></h4>-->
<!--								<p>Your kitchen is an expression of who you are, and its design should match your lifestyle. Whether you have traditional tastes or desire a modern feel, we can design your dream kitchen to suit any purpose.</p>-->
<!--								<h6 class="mb-0 mt-4"><a class="button_1" href="blog_detail.html">READ MORE <i class="fa fa-long-arrow-right ms-1"></i></a></h6>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div><hr>-->
<!--					<div class="blog_pg1li row">-->
<!--						<div class="col-md-6">-->
<!--							<div class="blog_pg1lil">-->
<!--								<div class="grid clearfix">-->
<!--									<figure class="effect-jazz mb-0">-->
<!--										<a href="blog_detail.html"><img src="img/21.jpg" class="w-100" alt="abc"></a>-->
<!--									</figure>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-md-6">-->
<!--							<div class="blog_pg1lir">-->
<!--								<h6 class="font_14 text-muted"><i class="fa fa-user col_yell me-1"></i> By Admin</h6>-->
<!--								<h4 class="mt-3"><a href="blog_detail.html">The Pros and Cons of Large Format Porcelain</a></h4>-->
<!--								<p>Your kitchen is an expression of who you are, and its design should match your lifestyle. Whether you have traditional tastes or desire a modern feel, we can design your dream kitchen to suit any purpose.</p>-->
<!--								<h6 class="mb-0 mt-4"><a class="button_1" href="blog_detail.html">READ MORE <i class="fa fa-long-arrow-right ms-1"></i></a></h6>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div><hr>-->
<!--					<div class="blog_pg1li row">-->
<!--						<div class="col-md-6">-->
<!--							<div class="blog_pg1lil">-->
<!--								<div class="grid clearfix">-->
<!--									<figure class="effect-jazz mb-0">-->
<!--										<a href="blog_detail.html"><img src="img/23.jpg" class="w-100" alt="abc"></a>-->
<!--									</figure>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-md-6">-->
<!--							<div class="blog_pg1lir">-->
<!--								<h6 class="font_14 text-muted"><i class="fa fa-user col_yell me-1"></i> By Admin</h6>-->
<!--								<h4 class="mt-3"><a href="blog_detail.html">Cras accumsan nulla nec lacus ultricies placerat.</a></h4>-->
<!--								<p>Your kitchen is an expression of who you are, and its design should match your lifestyle. Whether you have traditional tastes or desire a modern feel, we can design your dream kitchen to suit any purpose.</p>-->
<!--								<h6 class="mb-0 mt-4"><a class="button_1" href="blog_detail.html">READ MORE <i class="fa fa-long-arrow-right ms-1"></i></a></h6>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div><hr>-->
<!--					<div class="blog_pg1li row">-->
<!--						<div class="col-md-6">-->
<!--							<div class="blog_pg1lil">-->
<!--								<div class="grid clearfix">-->
<!--									<figure class="effect-jazz mb-0">-->
<!--										<a href="blog_detail.html"><img src="img/24.jpg" class="w-100" alt="abc"></a>-->
<!--									</figure>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-md-6">-->
<!--							<div class="blog_pg1lir">-->
<!--								<h6 class="font_14 text-muted"><i class="fa fa-user col_yell me-1"></i> By Admin</h6>-->
<!--								<h4 class="mt-3"><a href="blog_detail.html">A Stunning Classic Shaker Kitchen In Halesowen</a></h4>-->
<!--								<p>Your kitchen is an expression of who you are, and its design should match your lifestyle. Whether you have traditional tastes or desire a modern feel, we can design your dream kitchen to suit any purpose.</p>-->
<!--								<h6 class="mb-0 mt-4"><a class="button_1" href="blog_detail.html">READ MORE <i class="fa fa-long-arrow-right ms-1"></i></a></h6>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div><hr>-->
<!--					<div class="blog_pg1li row">-->
<!--						<div class="col-md-6">-->
<!--							<div class="blog_pg1lil">-->
<!--								<div class="grid clearfix">-->
<!--									<figure class="effect-jazz mb-0">-->
<!--										<a href="blog_detail.html"><img src="img/25.jpg" class="w-100" alt="abc"></a>-->
<!--									</figure>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="col-md-6">-->
<!--							<div class="blog_pg1lir">-->
<!--								<h6 class="font_14 text-muted"><i class="fa fa-user col_yell me-1"></i> By Admin</h6>-->
<!--								<h4 class="mt-3"><a href="blog_detail.html">The Pros and Cons of Large Format Porcelain</a></h4>-->
<!--								<p>Your kitchen is an expression of who you are, and its design should match your lifestyle. Whether you have traditional tastes or desire a modern feel, we can design your dream kitchen to suit any purpose.</p>-->
<!--								<h6 class="mb-0 mt-4"><a class="button_1" href="blog_detail.html">READ MORE <i class="fa fa-long-arrow-right ms-1"></i></a></h6>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div><hr>-->
					<div class="pages text-center">
						<ul class="mb-0">
							{% if blog.has_previous %}
								<li><a href="?page={{ blog.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
							{% else %}
								<li class="disabled"><i class="fa fa-chevron-left"></i></li>
							{% endif %}

							{% for num in blog.paginator.page_range %}
								{% if blog.number == num %}
									<li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
								{% elif num > blog.number|add:'-3' and num < blog.number|add:'3' %}
									<li><a href="?page={{ num }}">{{ num }}</a></li>
								{% endif %}
							{% endfor %}

							{% if blog.has_next %}
								<li><a href="?page={{ blog.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>
							{% else %}
								<li class="disabled"><i class="fa fa-chevron-right"></i></li>
							{% endif %}
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>



<section id="chat">
	<div class="promo_m pt-5 pb-5 px-4">
		<div class="container-fluid">
			<div class="project_1 row text-center">
				<div class="col-md-12">
					<h6 class="col_yell fw-bold">YOU DREAM IT, WE DESIGN IT</h6>
					<h1 class="text-white mt-3">We can build you the kitchen <br> of your dreams</h1>
					<h6 class="mb-0 mt-4"><a class="button" href="{% url 'appointment' %}">SCHEDULE A CHAT <i class="fa fa-calendar ms-1"></i></a></h6>
				</div>
			</div>
		</div>
	</div>
</section>


{% include 'footer.html' %}


<script>
	window.onscroll = function() {myFunction()};
	let navbar_sticky = document.getElementById("navbar_sticky");
	let sticky = navbar_sticky.offsetTop;
	let navbar_height = document.querySelector('.navbar').offsetHeight;
	function myFunction() {
	  if (window.pageYOffset >= sticky + navbar_height) {
		navbar_sticky.classList.add("sticky")
		document.body.style.paddingTop = navbar_height + 'px';
	  } else {
		navbar_sticky.classList.remove("sticky");
		document.body.style.paddingTop = '0'
	  }
	}
</script>
<script>
	document.getElementById('see-all').addEventListener('click', function(event) {
		event.preventDefault();
		document.getElementById('read-notifications').style.display = 'block';
		document.getElementById('see-all').style.display = 'none';
	});
</script>
</body>

</html>