<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Future Home | Contact</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/contact.css' %}" rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<style>
		.center_cont {
			background-image: url(../static/img/contact1.jpg);
		}
		form button{
			border: none;
		}
		.callout {
            position: fixed;
			bottom: 10px;
			left: 76%;
			transform: translateX(-50%);
			z-index: 1000;
			width: 70%;
			max-width: 600px;
			background-color: #c68a31;
			border-left: 6px solid #4CAF50;
			margin-bottom: 15px;
			padding: 15px;
			border-radius: 5px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }
		.callout p{
			color: #fff;
		}
        .callout .closebtn {
            margin-left: 15px;
            color: #f9fafb;
            font-weight: bold;
            float: right;
            font-size: 20px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }
        .callout .closebtn:hover {
            color: #f9fafb;
        }
	</style>

</head>

<body>

{% include 'header.html' %}

<section id="center" class="center_cont">
 <div class="promo_m center_om">
  <div class="container-fluid">
    <div class="center_o1 row text-center">
	 <div class="col-md-12">
	   <h6 class="col_yell fw-bold"><a class="text-white" href="{% url 'home' %}">HOME PAGE</a> <span class="mx-2 text-muted">/</span> CONTACT</h6>
	   <h1 class="mb-0 font_60 text-white mt-3">Contact</h1>
	 </div>
	</div>
 </div>
 </div>
</section>

<section id="cont_pg" class="p_3  px-4">
 <div class="container-fluid">
    <div class="cont_pg1 row">
	 <div class="col-md-5">
	  <div class="cont_pg1l">
	    <h6 class="col_yell fw-bold">OUR CONTACTS</h6>
	  <h1 class="mt-3">Get in touch with us</h1>
	  <p class="mt-3 mb-4">Get in touch to discuss your employee wellbeing needs today. Please give us a call, drop us an email or fill out the contact form and we’ll get back to you.</p>
	  <div class="cont_pg1li row">
	   <div class="col-md-2">
	    <div class="cont_pg1lil">
		 <span class="col_yell font_60 lh-1"><i class="fa fa-home"></i></span>
		</div>
	   </div>
	   <div class="col-md-10">
	    <div class="cont_pg1lir">
		 <h5>Headquarter</h5>
		 <h6 class="mb-0">2342 Augue Sd. Porta <br>
Ata, Semper 12345</h6>
		</div>
	   </div>
	  </div><hr>
	  <div class="cont_pg1li row">
	   <div class="col-md-2">
	    <div class="cont_pg1lil">
		 <span class="col_yell font_60 lh-1"><i class="fa fa-phone"></i></span>
		</div>
	   </div>
	   <div class="col-md-10">
	    <div class="cont_pg1lir">
		 <h5>Phone Number</h5>
		 <h6 class="mb-0">+(123) 456-7890 <br>
+(123) 456-7890</h6>
		</div>
	   </div>
	  </div><hr>
	  <div class="cont_pg1li row">
	   <div class="col-md-2">
	    <div class="cont_pg1lil">
		 <span class="col_yell font_60 lh-1"><i class="fa fa-envelope"></i></span>
		</div>
	   </div>
	   <div class="col-md-10">
	    <div class="cont_pg1lir">
		 <h5>Email us</h5>
		 <h6 class="mb-0">
			 info@gmail.com</h6>
		</div>
	   </div>
	  </div>
	  </div>
	 </div>
	 <div class="col-md-7">
	  <div class="cont_pg1r">
	    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" height="480" style="border:0; width:100%;" allowfullscreen=""></iframe>
	  </div>
	 </div>
	</div>
 </div>
</section>

<section id="quote" class="p_3 px-4 bg-light">
	<div class="container-fluid">
		<div class="quote_1 row">
			<div class="col-md-6">
				<div class="quote_1l">
					<div class="grid clearfix">
						<figure class="effect-jazz mb-0">
							<a href="#"><img src="../static/img/37a.jpg" class="w-100" alt="abc"></a>
				  		</figure>
			  		</div>
	 			</div>
			</div>
			<div class="col-md-6">
				<form method="post" action="{% url 'contact' %}" id="contactForm">
					{% csrf_token %}
					<div class="quote_1r p-4">
						<h4>We would love to hear from you.</h4>
						<p>Your email address will not be published. Required fields are marked *</p>

						<div class="quote_1ri row">
							<div class="col-md-6">
								<div class="quote_1ril">
									<input placeholder="Full Name *" class="form-control mt-3" id="name" name="name" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<div class="quote_1ril">
									<input placeholder="Email Address *" class="form-control mt-3" id="email" name="email" type="email">
								</div>
							</div>
						</div>
						<div class="quote_1ri row">
							<div class="col-md-12">
								<div class="quote_1ril">
									<input placeholder="Your Phone" name="phone" id="phone" class="form-control mt-3" type="text">
								</div>
							</div>
						</div>
						<div class="quote_1ri row">
							<div class="col-md-12">
								<div class="quote_1ril">
									<textarea placeholder="Your Message" id="message" name="message" class="form-control mt-3 form_text"></textarea>

								</div>
							</div>
						</div>
						<button type="button" class="mb-0 mt-4" onclick="submitForm()"><a class="button_1">SUBMIT <i class="fa fa-long-arrow-right ms-1"></i></a></button>
					</div>
				</form>
			</div>
		</div>
   	</div>
</section>


<section id="chat">
 <div class="promo_m pt-5 pb-5 px-4">
  <div class="container-fluid">
    <div class="project_1 row text-center">
	 <div class="col-md-12">
	  <h6 class="col_yell fw-bold">YOU DREAM IT, WE DESIGN IT</h6>
	  <h1 class="text-white mt-3">We can build you the kitchen <br> of your dreams</h1>
	  <h6 class="mb-0 mt-4"><a class="button" href="{% url 'appointment' %}">SCHEDULE A CHAT <i class="fa fa-calendar ms-1"></i></a></h6>
	 </div>
	</div>
 </div>
 </div>
</section>

{% include 'footer.html' %}


<script>
	window.onscroll = function() {myFunction()};
	let navbar_sticky = document.getElementById("navbar_sticky");
	let sticky = navbar_sticky.offsetTop;
	let navbar_height = document.querySelector('.navbar').offsetHeight;
	function myFunction() {
	  if (window.pageYOffset >= sticky + navbar_height) {
		navbar_sticky.classList.add("sticky")
		document.body.style.paddingTop = navbar_height + 'px';
	  } else {
		navbar_sticky.classList.remove("sticky");
		document.body.style.paddingTop = '0'
	  }
	}
</script>
<script>
    function clearForm() {
    document.getElementById("name").value = "";
    document.getElementById("email").value = "";
    document.getElementById("phone").value = "";
    document.getElementById("message").value = "";
	}

	function submitForm() {
		const form = document.getElementById("contactForm");
		form.submit();
		clearForm();
	}
	</script>
<script>
	document.getElementById('see-all').addEventListener('click', function(event) {
		event.preventDefault();
		document.getElementById('read-notifications').style.display = 'block';
		document.getElementById('see-all').style.display = 'none';
	});
</script>
</body>

</html>